.text-ellipsis {
    text-overflow: ellipsis;
}

.pagin {
    margin-right: 7px;
    color: #ff5a00;
}

.pagin-row {
    float: right;
    margin-right: 9px;
}

.orange-text {
    color: #ff5a00;
  }

.jumbotron {
    background-color: rgba(85,86,90,0.98);
    margin-top: 35px;
    padding-left: 45px;
    padding-right: 45px;
}

.btn-site {
    background-color: rgb(20, 20, 20);
    color: #ff5a00;
    border: none;
}


.is-flex{
    margin-left:45px;
    margin-right:45px;
}