
.pagin {
    color: #ff5a00;
    margin-right: 7px;
}

.orange-text {
    color: #ff5a00;
  }

.pagin-row {
    float: right;
    margin-right: 9px;
}

.cards-movie {
    max-height: 473px;
    min-height: 473px;
}

.is-flex{
    margin-left:45px;
    margin-right:45px;
}