img {
    width: 100%;
}

.m-r-md {
    margin-right: 5px;
}

.cards-movie {
    max-height: 473px;
    min-height: 473px;
}

.white-text {
    color: white;
}

.is-flex{
    margin-left:45px;
    margin-right:45px;
}

.btn-site {
    background-color: rgb(20, 20, 20);
    color: #ff5a00;
    border: none;
}

h2 {
    color: #ff5a00;
}

.card-background {
    border: none;
    background-color: rgb(20, 20, 20);   
}

.no-background {
    background-color: transparent;
}

.thumbnail {
    border: none;
}

h3 {
    color: white;
}

p {
    color: white;
}